/* Styles go here */

.my-custom-stars .button .material-icons {
  font-size: 50px; 
}

.my-custom-stars .star-button.star-on .material-icons {
  color: #003399; 
}

.my-custom-stars .star-button.star-off .material-icons {
  color: #99ccff; 
}