a:hover{
	text-decoration: none;
}

textarea{
	resize: none;
}

.w-thumbnail{
	width: 100px;
}

.title_big{
	text-align: center;
	padding-bottom: 7px;
	width: 40%;
	margin: 0 auto;
	margin-top: 15px;
	margin-bottom: 15px;
	text-transform: uppercase;
}

.title_mid{
	text-align: center;
	padding-bottom: 5px;
	padding-top: 5px;
	padding-left: 10px;
	margin-bottom: 30px;
}

.btn-primary{
	background-color: #c1272d;
	border-color:transparent;
}

.btn-primary:hover{
	background-color: #911d22;
	border-color:transparent;
}

.btn-primary:focus, .btn-primary.focus {
    color: #fff;
    background-color: #911d22;
    border-color: #911d22;
}

.btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #911d22;
    border-color: #911d22;
}

.link-primary{
	color: #c1272d;
}

.form-control:focus{
	border-color: rgba(193,39,45,1.00);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(193,39,45,.075), 0 0 8px rgba(193,39,45, .6);
    box-shadow: inset 0 1px 1px rgba(193,39,45,.075), 0 0 8px rgba(193,39,45, .6);
}

.form-group .row{
	margin-left: -15px;
	margin-right: -15px;
}

.media img {
	width: 150px;
	border: 1px solid transparent;
}