/*------------------------------------------------------------------
 [Blogs Stylesheet]
-------------------------------------------------------------------*/

#list-blogs{
    padding-top: 50px;
    padding-bottom: 50px;

    background-color: #f4f4f4;

    .container{
        .row{
            .left{
                .row{
                    .item{
                        .inner{
                            padding: 15px;
                            background-color: #fff;

                            .mask{
                                width: 100%;
                                height: 250px;
                            }

                            >a{
                                &:first-of-type{
                                    color: $primary;
                                }
                            }

                            h3{
                                overflow: hidden;
                                text-overflow: ellipsis;
                                display: -webkit-box;
                                height: 3.3em;
                                -webkit-line-clamp:3;
                                -webkit-box-orient: vertical;
                            }

                            p{
                                overflow: hidden;
                                text-overflow: ellipsis;
                                display: -webkit-box;
                                line-height: 1.25em;
                                height: 5em;
                                -webkit-line-clamp:4;
                                -webkit-box-orient: vertical;
                            }
                        }
                    }
                }
            }

            .nav_side{
                h3{
                    padding-bottom: 7px;
                }

                ul{
                    li{
                        padding-top: 15px;
                        padding-bottom: 15px;
                        border-bottom: 1px solid #eaeaea;

                        a{
                            color: #333;
                        }
                    }
                }

                .panel{
                    .panel-heading{
                        color: $primary;
                    }
                }
            }
        }
    }
}

#detail-blog{
    padding-top: 50px;
    padding-bottom: 50px;

    background-color: #f4f4f4;

    .container{
        .row{
            .content{
                padding: 15px;
                background-color: #fff;

                article{
                    p{
                        padding-left:30px;
                        padding-right:30px;
                    }

                    img{
                        width: 100%;
                        margin: 15px 0;
                    }

                    iframe{
                        width: 100%;
                        min-height: 500px;
                        margin: 15px 0;
                    }
                }
            }

            .comments{
                .comments_post{
                    margin-bottom: 50px;

                    h3{
                        width: 100%;
                        padding-top: 30px;
                        padding-bottom: 15px;
                        border-top: 2px solid #333;
                    }
                }

                .comments_posts_list{
                    .media{
                        .media-left{
                            img{
                                width: 64px;
                            }
                        }
                    }
                }
            }

            .nav_side{
                h3{
                    padding-bottom: 7px;
                }

                ul{
                    li{
                        padding-top: 15px;
                        padding-bottom: 15px;
                        border-bottom: 1px solid #eaeaea;

                        a{
                            color: #333;
                        }
                    }
                }

                .panel{
                    .panel-heading{
                        color: $primary;
                    }
                }
            }
        }
    }
}