/*------------------------------------------------------------------
 [Mixins]
-------------------------------------------------------------------*/

@mixin transition($duration){
    -webkit-transition: all ease-in-out $duration;
    -moz-transition: all ease-in-out $duration;
    -ms-transition: all ease-in-out $duration;
    -o-transition: all ease-in-out $duration;
    transition: all ease-in-out $duration;
}